{% extends 'base.html.twig' %}

{% block title %}Hello InterventionController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Bienvenue sur le site de gestion de matériels, d'interventions et de véhicules : le projet BICE !</h1>
        <table class="table table-striped">
            <tr>
                <th>Date</th>
                <th>Dénomination</th>
                <th>Description</th>
                <th></th>
            </tr>
            {% for i in interventions %}
                <tr>
                    <td>{{ i.date | date('d M Y H:i')}}</td>
                    <td>{{ i.denomination }}</td>
                    <td>{{ i.description }}</td>
                    <td><a href="{{ path("intervention_vehicule_afficher", {"id":i.id}) }}" class="btn btn-primary">Véhicules</a></td>
                </tr>
            {% endfor %}
        </table>
        <h2>Ajouter une intervention</h2>
        {{ form(formulaire) }}
    </div>
{% endblock %}
