{% extends 'base.html.twig' %}

{% block title %}Hello InterventionController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Bienvenue sur le site de gestion de matériels, d'interventions et de véhicules : le projet BICE !</h1>
        <table class="table table-striped">
            <tr>
                <th>Identifiant</th>
                <th>Dénomination</th>
                <th>Catégorie</th>
                <th>Utilisation</th>
                <th>Utilisation Max.</th>
                <th>Date de Contrôle</th>
                <th>Date d'Expiration</th>
                <th>Véhicule</th>
            </tr>
            <tr>
                <td>{{ m.id }}</td>
                <td>{{ m.denomination }}</td>
                <td>{{ m.categorie }}</td>
                <td>{{ m.utilisation }}</td>
                <td>{{ m.utilisationMax }}</td>
                <td>{{ m.dateControle }}</td>
                <td>{{ m.dateExpiration }}</td>
                <td>{{ m.id_vehicule }}</td>

            </tr>
        </table>
        <h2>Etes-vous sûr de vouloir supprimer le matériel</h2>
        {{ form(formulaire) }}
        <a href="{{ path("app_materiel") }}" class="btn btn-warning">Annuler</a>
    </div>
{% endblock %}